@import 'https://fonts.googleapis.com/css?family=Comfortaa|Titillium+Web:400,400i,700';
@import 'https://fonts.googleapis.com/css?family=Architects+Daughter';
$primary: #4B4B4B;
$primary40: rgba(0,172,193, 0.7);
$primary70: rgba(0,172,193, 0.4);
$accent: #F03624;
$blue-gray: #546e7a;
$gray: rgba(0,0,0,0.4);
$light: #cfd8dc;
$lighter: #eceff1;
$heading-text: 'Titillium Web', Helvetica, sans-serif;
$primary-text: 'Titillium Web', Helvetica, sans-serif;